// **************************************************
// COLOURS AND FONTS
// **************************************************

// Colours
$text-colour: #000;
$background-colour: #fff;
$nav-background: #f5f5f5;
$dark-gray: #939597;
$yellow: #F5DF4D;
$light-yellow: #FDF7D3;

// Font families
$head-font: 'Noto Sans JP', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Font weights
$med-font-weight: 400;
$bold-font-weight: 700;
$heavy-font-weight: 900;


// **************************************************
// GLOBAL
// **************************************************

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-position: inside;
  font-family: $head-font;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-colour;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $text-colour;
}

h1, h2 {
  font-family: $head-font;
  color: $text-colour;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: $heavy-font-weight;
  margin-left: -2px;
}

.section-head {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.4em;
  font-weight: $heavy-font-weight;
}

p {
  font-family: $body-font;
  font-weight: $med-font-weight;
  color: $text-colour;
  font-size: 1.1em;
  line-height: 1.4;
}

small + p {
  margin-top: 0.2em;
}

//
p + p {
  margin-top: 0.5em;
}

// h2 elements preceded by p
p ~ h2 {
  margin-top: 0.7em;
}

small {
  display: block;
  font-family: $body-font;
  font-weight: $med-font-weight;
  color: $dark-gray;
  font-size: 0.8em;
}

p ~ ul {
  margin-top: 0.5em;
}

.post-page {
  margin-bottom: 0.5em;
}

.screenshot {
  width: 90%;
  align-self: center;
  margin: 1em 0;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #939597;
}


// **************************************************
// CODE
// **************************************************

// Code blocks
pre {
  background: #EEF2F2;
  padding: 1em;
  margin: 1em 0 0;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 1.1em;
}

// Inline code
p > code {
  padding: 2px 4px;
  background-color: #EEF2F2;
  border-radius: 5px;
  line-height: 1.4;
}


// **************************************************
// MAIN NAV
// **************************************************

.main-nav-container {
  width: 100%;
  margin: 0 auto 1em;
  padding: 0 5%;
  background-color: $nav-background;

  .main-nav-ul {
    height: 50px;
    display: flex;
    align-items: center;

    li {
      list-style: none;
      font-family: $body-font;
      font-weight: $bold-font-weight;
      font-size: 1em;
    }

    // 'Home' list img on left
    .push-left {
      margin-right: auto;
    }

    .img-anchor {
      display: flex;
      align-items: center;
    }

    a img {
      height: 40px;
      width: 40px;
      border: 1px solid #939597;
      border-radius: 50%;
    }

    // Target 2nd and 3rd list items
    li:nth-child(n+2):nth-child(-n+3) {
      margin-right: 15px;
    }
  }
}


// **************************************************
// MAIN
// **************************************************

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;

  ul li {
    font-family: $body-font;
    font-size: 1em;

    &::marker {
      color: $dark-gray;
    }
  }
}


// **************************************************
// FOOTER
// **************************************************

// Force footer to bottom of page
.main-footer {
  flex-shrink: 0;
  width: 100%;
  margin: 2em auto 0;
  padding: 0 5%;
  background-color: $nav-background;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 0.8em;

  p {
    margin: 0;
  }


  .push-left {
    margin-right: auto;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.twitter-logo {
  margin-right: 20px;
  height: 23px;
}

.github-logo {
  height: 30px;
}


// **************************************************
// WRITING
// **************************************************

.post {
  margin-bottom: 1em;
}


// **************************************************
// MEDIA QUERIES
// **************************************************

@media screen and (min-width: 375px) {
  // **************************************************
  // GLOBAL: 375px
  // **************************************************

  h1 {
    font-size: 2.3em;
  }

  p {
    font-size: 1.2em;
  }

  // **************************************************
  // NAVIGATION: 375px
  // **************************************************
  .main-nav-container {

    .main-nav-ul {
      height: 60px;

      li {
        font-size: 1.1em;
      }

      a img {
        height: 45px;
        width: 45px;
      }

      // Target 2nd and 3rd list items
      li:nth-child(n+2):nth-child(-n+3) {
        margin-right: 20px;
      }
    }

    main {
      width: 90%;
    }
  }

  @media screen and (min-width: 1440px) {
    // **************************************************
    // GLOBAL: 1440px
    // **************************************************

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.3em;
    }

    // **************************************************
    // NAVIGATION: 1440px
    // **************************************************
    .main-nav-container {
      padding: 0 20%;

      .main-nav-ul {
        height: 60px;

        li {
          font-size: 1.1em;
        }
      }
    }

    main {
      width: 60%;
    }

    // **************************************************
    // CODE: 1440px
    // **************************************************

    pre {
      font-size: 1.3em;
    }

    // **************************************************
    // FOOTER: 1440px
    // **************************************************
    .main-footer {
      padding: 0 20%;
      height: 60px;
    }
    .twitter-logo {
      margin-right: 15px;
      height: 30px;
    }
    .github-logo {
      height: 40px;
    }
  }
}