/**********************************************************************
GOOGLE FONTS
**********************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@900&display=swap');

/**********************************************************************
GLOBAL MARGIN, PADDING, BORDER-BOX, HEIGHT
**********************************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    color: #000;
    font-family: var(--body-font);
    font-weight: var(--body-weight);
}

.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}


/**********************************************************************
VARIABLES
**********************************************************************/

:root {
    /***********************************
    TYPE VARIABLES
    ***********************************/
    --display-font: 'Montserrat', sans-serif;
    --display-weight: 900;
    --display-size: 4rem;
    --body-font: 'Merriweather';
    --body-weight: 400;
    --body-size: 1rem;
    /***********************************
    COLOUR VARIABLES
    ***********************************/
    --dark-gray: #939597;
    --artichoke: #959C71;
    --blue: #345995;
}


/**********************************************************************
GLOBAL LIST ITEMS
**********************************************************************/

li, li a {
    list-style: none inside;
    font-family: var(--body-font);
    font-weight: var(--body-weight);
    font-size: var(--body-size);
}


/**********************************************************************
GLOBAL ANCHORS
**********************************************************************/

a, a:visited {
    text-decoration: none;
    color: var(--blue);
}


/**********************************************************************
GLOBAL TYPE PROPERTIES
**********************************************************************/

.h1-display {
    /* Adjust left margin to account for left-side whitespace */
    margin: 0 0 1.5rem -3px;
    font-family: var(--display-font);
    font-weight: var(--display-weight);
    color: var(--artichoke);
    font-size: 3.75rem;
    line-height: 0.8333;
}

.h1-post-view-heading {
    color: var(--blue);
}

h2 {
    font-family: var(--body-font);
    font-size: 1.5rem;
    color: var(--blue);
}

p {
    font-family: var(--body-font);
    font-weight: var(--body-weight);
    font-size: 1rem;
    line-height: 1.5;
}

p + p {
    margin-top: 1rem;
}

small {
    display: block;
    font-weight: 700;
    color: var(--dark-gray);
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
}

.italic {
    font-style: italic;
}

.post {
    margin-bottom: 1.5rem;
}

/**********************************************************************
CODE STYLE
**********************************************************************/

pre {
    background: #EEF2F2;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    line-height: 1.6;
    overflow-x: scroll;
}


p > code {
    padding: 2px 4px;
    background-color: #EEF2F2;
    border-radius: 5px;
    line-height: 1.4;
}

/**********************************************************************
SINGLE POST PAGE
**********************************************************************/

.post-view-h2 {
    margin-bottom: 0;
}


.post-view-date {
    margin-bottom: 1rem;
}

.post-page {
    margin-bottom: 0.5em;
}

.screenshot {
    width: 90%;
    max-width: 400px;
    align-self: center;
    margin: 1em 0;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #939597;
}

p > a {
    font-weight: 700;
    background-color: #FDF7D3;
    padding: 2px 4px;
    border-radius: 5px;
}

/**********************************************************************
NAVIGATION
**********************************************************************/

.nav-main {
    width: 100%;
    margin: 1rem 0 2rem 0;
}

.nav-main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-name a {
    position: absolute !important;
    opacity: 0;
    pointer-events: none;
}

.nav-memoji {
    flex: 1;
}

.nav-main ul li {
    list-style: none;
    font-size: 1.125rem;
}

.nav-main ul .push-left {
    margin-right: auto;
}

.nav-img {
    display: flex;
    align-items: center;
}

.nav-img img {
    height: 54px;
    width: 54px;
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
}

.nav-main ul li:nth-child(3) {
    margin-right: 16px;
}


/**********************************************************************
MAIN
**********************************************************************/

main {
    /*display: flex;*/
    width: 100%;
    /*flex-direction: column;*/
    /*margin: 0 auto;*/
    flex: 1;
}

main ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

main ul li::marker {
    color: #939597;
}


/**********************************************************************
FOOTER
**********************************************************************/

.footer-main {
    flex-shrink: 0;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
}

.footer-main p {
    font-size: 0.85rem;
}

.footer-main .push-left {
    margin-right: auto;
}

.footer-main a {
    display: flex;
    align-items: center;
}

.twitter-logo {
    margin-right: 20px;
    height: 32px;
}

.github-logo {
    height: 32px;
}


/**********************************************************************
MEDIA QUERIES
**********************************************************************/

@supports (background: -webkit-named-image(i)) {
    .wrapper {
        min-height: -webkit-fill-available;
    }
    html {
        min-height: -webkit-fill-available;
    }
}

@media screen and (min-width: 375px) {
    .h1-display {
        font-size: 4.5rem;
        margin: 0 0 2rem -3px;
    }

    .nav-main {
        margin: 19px 0 2rem 0;
    }

    .nav-main ul li {
        font-size: 1.1em;
    }

    .nav-img {
        height: 64px;
        width: 64px;
    }

    .nav-main ul li:nth-child(3) {
        margin-right: 19px;
    }

    h2 {
        font-size: 2rem;
    }

    small {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 428px) {
    .h1-display {
        font-size: 5.5rem;
    }

    .nav-main {
        margin: 21px 0 2rem 0;
    }
}

@media screen and (min-width: 500px) {
    .nav-memoji {
        flex: 0;
    }

    .nav-name {
        flex: 1;
    }

    .nav-name a {
        position: static !important;
        opacity: 1;
        pointer-events: auto;
    }

    .nav-name a,
    .nav-name a:visited {
        font-weight: 700;
        color: var(--blue);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 700px;
    }

    p {
        font-size: 1.1rem;
    }

    .nav-main {
        margin: 39px 0 2rem 0;
    }

    .nav-main ul li:nth-child(3) {
        margin-right: 19px;
    }

    .h1-display {
        font-size: 6rem;
    }

    .screenshot {
        width: 45%;
        float: left;
        margin: 1em 1.3em 1em 0;
    }

    .screenshot + p {
        margin-top: 0.5em;
    }

    .footer-main p {
        font-size: 0.9rem;
    }
}