<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>marktripney | {{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="nav-main">
          <ul>
            <li class="nav-memoji">
              <a class="nav-img" href="{{ url_for("index") }}"><img
                  src="{{ url_for("static", filename="img/mark-memoji-sml.png") }}" alt="Memoji of Mark Tripney"></a>
            </li>
            <li class="nav-name"><a href="{{ url_for("index") }}">Mark Tripney</a></li>
            <li><a href="{{ url_for("work") }}">Work</a></li>
            <li><a href="{{ url_for("contact") }}">Contact</a></li>
          </ul>
        </nav>
      </header>
      <main>
        {% block content %}
        {% endblock content %}
      </main>
      <footer class="footer-main">
        <p class="push-left">&copy; Mark Tripney, {{ year }}. Made in 🇧🇪</p>
        <a href="https://twitter.com/marktripney" target="_blank">
          <img class="twitter-logo" src="{{ url_for("static", filename="img/2021 Twitter logo - blue-opt.png") }}"
               alt="Twitter logo">
        </a>
        <a href="https://github.com/mtripney" target="_blank">
          <img class="github-logo" src="{{ url_for("static", filename="img/Octocat-opt.png") }}" alt="GitHub logo">
        </a>
      </footer>
    </div>
  </body>
</html>