{% extends "base.html" %}
{% block content %}
  <h1 class="section-head">Contact</h1>
  <p class="italic">Coming soon!</p>
{#  <section id="contact-intro">#}
{#    <p>#}
{#      I'm happy to discuss any position, either full-time or part-time,#}
{#      remote or on-site (I'm based in Brussels, Belgium). Click or tap#}
{#      on the email address below to get in touch:#}
{#    </p>#}
{#  </section>#}
{#  <p>#}
{#    <a#}
{#        class="email-addr"#}
{#        href="mailto:hello@marktripney.com?subject=Mail%20from%20marktripney.com"#}
{#    >hello@marktripney.com</a#}
{#    >#}
{#  </p>#}
{#  <p>I look forward to hearing from you!</p>#}
{% endblock content %}